@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Tailwind to regenerate classes */

@layer components {
    .nav-link {
        color: #63637c;
        transition: all 0.3s;
    }

    .nav-link:hover {
        color: #2055d5;
        background-color: #DCE5FD;
    }
}

@layer base {
    body {
        font-family: 'Onest', sans-serif;
    }
}


